.todo-li {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.todo-li .button-group{
  position: absolute;
  right: 0px;
}
.button-group button{
  margin-right: 5px;
}
.todo-li span {
  color: white;
  cursor: pointer;
}
.line-through-text {
  text-decoration: line-through;
}
.none-text {
  text-decoration: none;
}
